<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.backend.auth.mapper.AuthMapper">

    <!-- 로그인 -->
    <select id="findEmployeeByLoginId" parameterType="String" resultType="map">
    SELECT EMP_ID,
            DEPT_ID,
            LOGIN_ID,
            PASSWORD,
            EMP_NAME,
            ROLE_CODE AS ROLE,
            STATUS
    FROM EMPLOYEE
    WHERE LOGIN_ID = #{loginId}
    AND STATUS = 'ACTIVE'
    </select>
    <select id="findEmployeeByEmpId" parameterType="long" resultType="map">
        SELECT  EMP_ID, DEPT_ID, LOGIN_ID, PASSWORD, EMP_NAME, ROLE_CODE AS ROLE, STATUS
        FROM EMPLOYEE
        WHERE EMP_ID = #{empId}
            AND STATUS = 'ACTIVE'
    </select>
    <insert id="insertEmployee">
        INSERT INTO EMPLOYEE (EMP_ID, LOGIN_ID, PASSWORD, EMP_NAME, DEPT_ID, PHONE, EMAIL, ROLE_CODE, STATUS)
        VALUES (EMP_SEQ.NEXTVAL, #{dto.loginId}, #{encodedPassword}, #{dto.empName}, #{dto.deptId}, #{dto.phone}, #{dto.email}, #{dto.roleCode}, 'ACTIVE')
    </insert>
</mapper>